.contract-form-container {
   
    margin: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 0px;
  }

  .second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0px;
  }
  
  .checkBox {
    margin: 0px;
    
  }
  
  .checkBox label {
    display: block;
  }
  
  .checkBox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  .first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
  }
  
  .second{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
  }

  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="checkbox"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  